@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'poppins';
}


header{
    position:fixed;
    width:100%;
    background-color: rgb(19,39,54);
    z-index: 100;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0px 1em 0px;
    width:85%;
    margin-inline: auto;   
}

.container{
    position:relative;
    top:68px;
    width:85%;
    margin-inline: auto;
}

.title{
    text-align: center;
    padding-top: 2em;
}

.title h1{
    font-size: 4rem;
    text-decoration-line: underline;

}

.title h2{
    font-size: 3rem;
    text-decoration-line: underline;
    margin-bottom: 1em;
}

.experience {
    display:flex;
    justify-content: space-between;
    gap:50px;
    position:relative;
}

.add-like{
    width:400px;
    height: fit-content;
    background-color: rgb(19,39,54);
    color: white;
    position:sticky;
    top:70px;
}

.add-like h2{
    text-align: center;
    text-decoration: underline;
    padding: 10px 0px;
}

.add-like p{
    padding:10px;
    font-size: 20px;
}

.add-like .highlight{
    text-align: center;
}

.add-like .like-cross{
    cursor: pointer;
}

.add-like .liked-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding-inline: 26px;
}

.people-content span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.people-content .like-icon{
    cursor: pointer;
    margin-left: 10px;
}

.people-content .like-icon .filled{
    display:none;
}

.destination .people-content{
    border: 2px solid rgb(19,39,54);
    margin-bottom: 2.5em;
    padding:1em;
    
}

.destination .people-content > *{
    padding-bottom:0.5em;
}

@media screen and (min-width:320px) and (max-width:768px){
    .container{
        width:88%;
    }

    .experience {
        gap:15px;
    }

    .destination{
        width: 60%;
    }

    .title h1{
        font-size: 2rem;
    
    }
    
    .title h2{
        font-size: 1.5rem;
    }

    .add-like{
        width:215px;
    }

    .add-like div{
        gap:10px;
    }

    .add-like p {
        padding: 5px;
        font-size: 18px;
    }

}

@media screen and (min-width:320px) and (max-width:768px){
    .container{
        width:95%;
    }

    .add-like h2 {
        font-size: 16px;
    }

    .add-like p {
        font-size: 15px;
    }    

    .destination .people-content {
        margin-bottom: 1.5em;
        padding: 0.6em;
    }

    .people-content h2{
        font-size:20px;
    }

    .destination .people-content > *{
        padding-bottom:0.2em;
    }
    
}


