@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 85px ;
}

:root{
    --pink: #de3151;  
    --font-grey: rgb(113, 113, 113);
    --font-size: 2.2rem;
}

/*navbar*/

.nav-content{
    display:flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    align-items: center;
    height: 70px;
    padding-inline: 3em;
    position: fixed;
    z-index: 100;
    width:100%;
}

.nav-content .login img{
    width:60px;
}

.nav-content .login{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-content .hideLogin{
    display:none;
}

.links a{
    text-decoration: none;
    color:white;
    position: relative;
    padding-bottom: 0.25em;
}

.links{
    display:flex;
    justify-content: center;
    gap:40px;
}

.links a::before{
    content: "";
    position:absolute;
    left:0;
    bottom:0;
    width:0;
    height:2px;
    background-color: var(--pink);
    transition: 0.3s ease-out;
}

.links a:hover:before{
    width:100%;
}

/*modal*/
.overlay {
    width:100%;
    height:100vh;
    background-color: hsla(0, 0%, 0%, 0.54);
    z-index:200;
    position:fixed;
    transition: 0.5s;
    display: none;
}

.showOverlay{
    display:block;
}

.modal{
    position:fixed;
    z-index: 300;
    background-color: white;
    top:-50%;
    left:50%;
    transform: translate(-50%, -50%);
    padding:1em 2em;
    font-size: 1.5rem;
    width:500px;
    transition: 0.7s;
}

.showModal{
    display:block;
    top:50%;
}

.modal form label{
    display: block;
}

.modal .modal-heading{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:1em;
}

.modal .modal-heading div{
    font-size: 3rem;
    cursor:pointer;
}

.modal form input{
    width:100%;
    font-size:1.2rem;
    padding:5px;
}

.modal form button{
    font-size: 1.2rem;
    margin-top:1.2em;
    background-color: var(--pink);
    color:white;
    padding:10px;
    border-radius: 5px;
    cursor: pointer;
}

.nav-content .addInitial{
    background-color: var(--pink);
    color:white;
    border-radius: 50%;
    width:40px;
    height:40px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
}


.container{
    position: relative;
    top:70px;
}

.nav-content .login img{
    cursor: pointer;
}

/*search-bar*/

.search{
    display: flex;
    background-color: black;
    height: 82px;
    justify-content: center;
    align-items: flex-start;
}

.search-bar{
    display:flex;
    justify-content: space-between;
    width:75%;
    border-radius: 2rem;
    background-color: white;
    height: 66px;
    padding: 10px 20px 10px 40px;
}

.search-bar button{
    border:none;
    background-color: white;
    cursor:pointer;
}

.search-bar .items{
    border-right: 1px solid rgb(195, 195, 195);
    padding-right: 5rem;
}

.search-bar .heading{
    font-size:1.2rem;
    font-weight: 600;
}

.search-bar .sub-heading{
    color: var(--font-grey);
}

.search-bar .search-icon{
    background-color: var(--pink);
    width: 45px;
    height:45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.search-bar .search-icon .icon{
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-self: center;
}

/*dropdown*/

/*sign-in and sing-out*/

header .singInOut{
    display: block;
    background-color: white;
    /*padding-top: 20px;
    padding-bottom: 20px;*/
    border-radius: 12px;
    position: fixed;
    z-index: 100;
    top: 57px;
    right: 47px;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease; 
}

header .singInOut.visible {
    height: 138px;
}


header .singInOut .help a{
    color:black;
    text-decoration: none;
}

header .singInOut .login{
    cursor: pointer;
    padding:20px;
}

header .singInOut .logout{
    cursor: pointer;
    border-bottom: 2px solid rgb(185, 185, 185);
    padding: 0px 20px 10px 20px;
}

header .singInOut .help{
    padding: 10px 20px 0px 20px;
}



/*Location-dropdown*/

.location-dropdown{
    position: absolute;
    width:40%;
    top: 70px;
    left: 12%;
    padding:2em;
    background-color: white;
    border-radius: 60px;
   /* max-height: 460px;*/
   display:none;
    
}

.showLocationDropdown{
    display:block;
}

.location-dropdown .location-dropdown-flex{
    display:flex;
    justify-content: space-between;
    row-gap:30px;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.location-dropdown-flex div{
    width:  27%; 
    text-align: center;
    cursor:pointer;
}

.location-dropdown-flex img{
    border-radius: 30px;
    width:100%;
}

.location-dropdown-flex div img:hover{
    border:1px solid black;
}

.location-dropdown-flex div img:focus{
    border:1px solid black;
}

/*Calender*/
/*check-in-dropdown*/
.check-in-dropdown{
    width: 370px;
    position: absolute;
    background-color: white;
    top: 74px;
    left: 30%;
    border-radius: 20px;
    display: none;
}

.show-check-in{
    display:block;
}

.check-in-calendar {
    margin: 20px 12px 5px 12px;
}

.check-in-calendar .check-in-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-inline: 10px;
}

.check-in-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#check-in-prev, #check-in-next {
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #de3151;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}


.calender-check-in{
    padding: 0px 15px 15px 15px;
}

.calender-check-in ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.calender-check-in .check-in-weeks li{
    font-weight: 900;
    width: 48px;
    text-align: center;
    padding: 11px;
}

.calender-check-in ul li{
    width: 48px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.calender-check-in .check-in-days .inactiveCheckIn{
    color:#aaa;
}

.calender-check-in .check-in-days .activeCheckIn{
    color:#ffffff;
    background-color: #de4561;
}



/*check-out-dropdown*/

.check-out-dropdown{
    width: 370px;
    position: absolute;
    background-color: white;
    top: 74px;
    left: 46%;
    border-radius: 20px;
    display: none;
}

.show-check-out{
    display:block;
}


.calendar {
    margin: 20px 12px 5px 12px;
}

.calendar .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-inline: 10px;
}

.calender-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#prevMonth, #nextMonth {
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border: 1px solid #de3151;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.calendar .todays-date{
    background-color: #de3151;
    color:white;   
}


.calender-check-out{
    padding: 0px 15px 15px 15px;
}

.calender-check-out ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.calender-check-out .weeks li{
    font-weight: 900;
    width: 48px;
    text-align: center;
    padding: 11px;
}

.calender-check-out ul li{
    width: 48px;
    text-align: center;
    padding: 8px;
    cursor: pointer;
}

.calender-check-out .days .inactive{
    color:#aaa;
}

.calender-check-out .days .active{
    color:#ffffff;
    background-color: #de4561;
}


/*guest-dropdown*/

.guest-dropdown {
    width: 400px;
    position: absolute;
    background-color: white;
    border-radius: 30px;
    padding: 2em 2em 0em 2em;
    top: 72px;
    right:12.5%;
    display: none;
}

.showGuestDropdown{
    display:block;
}

.guest-icons{
    display:flex;
    gap:20px;
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    color:var(--font-grey);
}

.add-guest{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #e2e0e0;
}

.guest-dropdown .add-guest:last-child {
    border-bottom: none;
}

.fa-minus, .fa-plus{
    border: 2px solid var(--font-grey);
    padding:10px;
    border-radius:50%;
    width:10px;
    height:10px;
    cursor: pointer;
    color:black;
}



/*banner*/

.banner{
    width:100%;
    height:500px;
    background-color: black;
}

.bg-img{
    background-image: url('./assets/village.jpg');
    background-position: right;
    width: 95%;
    height:470px;
    margin-inline: auto;
    background-size: cover;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom:1em;
}

.bg-img p{
    color: white;
    font-size:2.2rem;
}

.bg-img button{
    width:100px;
    height:40px;
    border-radius:50px;
    border:none;
    color:var(--pink);
    font-weight: 700;
    transition: 0.15s ease-in;
    cursor: pointer;
}

.bg-img button:hover{
    background-color: var(--pink);
    color: white;
}

.bg-img button:focus{
    background-color: var(--pink);
    color: white;
}

/*card*/

.seactionThree{
    width: 95%;
    margin-inline: auto;
    margin-top:4em;
}

.card-title{
    font-size: var(--font-size);
    font-weight: 500;
    margin-bottom:1em;
}

.card-container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.card{
    height:400px;
    border-radius: 10px;
}

.card .card-bottom{
    padding: 1em;
}

.card .card-bottom h2{
    margin-bottom: 8px;
    font-size: 2rem;
}

.card .card-bottom p{
    font-size:1.2rem;
}

.card-top img{
    width: 302px;
    height:200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-one{
    background-color: rgb(204,45,74);
    color: white;
}

.card-two{
    background-color: rgb(188,26,110);
    color: white;
}

.card-three{
    background-color: rgb(222,49,81);
    color: white;
}

.card-four{
    background-color: rgb(217,59,48);
    color: white;
}

/*Experiences*/

.sectionFour{
    width: 95%;
    margin-inline: auto;
    margin-top:6em;
}

.discover-title{
    font-size: var(--font-size);
    font-weight: 500;
    margin-bottom:1em;
}

.discover-flex{
    display:flex;
    width:100%;
    justify-content: space-between;
}

.discover-flex .discover-trip{
    background-image: url("./assets/pic.jpg");
    background-size: cover;
    width:48%;
    height: 500px;
}

.discover-flex .content{
    width:60%;
    padding: 1.5em 0em 0em 1em;
    font-size: 3rem;
    color:white;
}

.discover-flex .content p{
    color: #000;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
}

.discover-flex .discover-home{
    background-image: url("./assets/img.jpg");
    background-size: cover;
    width:48%;
    height: 500px;
}

.discover-flex button{
    width:45%;
    height:40px;
    border-radius:10px;
    border:none;
    color:black;
    font-weight: 700;
    transition: 0.15s ease-in;
    cursor: pointer;
}

.discover-flex button:hover{
    background-color: black;
    color: white;
}

.discover-flex button:focus{
    background-color: black;
    color: white;
}

/*gift card*/

.gift-card{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin-inline: auto;
    margin-top:6em;
}

.gift-card .gift-title{
    font-size: 3rem;
    width:40%;
}

.gift-card .gift-title p{   
    margin-bottom: 0.5em;
}

.gift-pic {
    text-align: end;
    width:50%;
}

.gift-card .gift-pic img{
    width:100%;
}

.gift-card button{
    width:45%;
    height:60px;
    border-radius:10px;
    border:none;
    color:white;
    background-color: black;
    font-size: 1.5rem;
    transition: 0.18s ease-in;
    cursor: pointer;
}

.gift-card button:hover{
    color: black;
    background-color: white;
    border: 3px solid black;
}

.gift-card button:focus{
    color: black;
    background-color: white;
    border: 3px solid black;
}

/*ask questions*/
.ask{
    background-image: url("./assets/ask.jpg");
    background-size: cover;
    width:95%;
    margin-inline: auto;
    height: 600px;
    color:white;
    margin-top:6em;
}

.ask div{
    padding:5em 0em 0em 5em;
    width:50%;
}

.ask p{
    font-size: 4rem;
    margin-bottom:0.5em;
    
}

.ask button{
    width:60%;
    height:60px;
    border-radius:10px;
    border:none;
    color:black;
    background-color: white;
    font-size: 1.5rem;
    transition: 0.18s ease-in;
    cursor: pointer;
}

.ask button:hover{
    color:white;
    background-color: black;
}

.ask button:focus{
    color:white;
    background-color: black;
}


/*footer*/

.footer {
    color: var(--font-grey);
    width:85%;
    margin-inline: auto;
    margin-top: 3em;
}

.footer a{
    text-decoration: none;
    color: var(--font-grey);
}

.footer-flex, .footer-list, .footer-icons, .footer-copyright, .footer-icons div{
    display: flex;
}

.footer-flex{
    justify-content: space-between;
    margin-bottom: 3em;
    flex-wrap: wrap;
    gap: 32px 20px;
}

.footer-flex span, .footer a{
    display: block;
    margin-bottom:10px;
}

.footer-flex span{
    color: black;
    font-weight: 600;
}

.footer-list{
    justify-content: space-between;
    width:100%;
}

.footer-list .f-icon{
    margin-right: 7px;
}

.footer-copyright{
    justify-content: flex-start;
    width: 50%;
    column-gap: 15px;
}

.footer-icons{
    width: 50%;
    justify-content: flex-end;
    column-gap: 15px;
}




@media screen and (min-width: 320px) and (max-width:480px){

    .nav-content{
        padding-inline: 12px;
    }

    .icon img{
        width:60%;
    }

    .nav-content .login img {
        width: 50px;
    }

    .login{
        font-size:12px;
    }

    /*sign-in*/
    header .singInOut{
        right: 17px;
        font-size: 12px;
        font-weight: 600;
    }

    /*location-dropdown*/

    .location-dropdown{
        padding: 1.5em;
        border-radius: 35px;
        width: 85%;
        top: 53px;
        left: 8%;
    }

    /*check-in-dropdown*/

    .dropdown .check-in-dropdown {
        width: 283px;
        top:55px;
        left:10%;
        font-size: 14px;
    }

    .dropdown .calender-check-in .check-in-weeks li {
        width: 38px;
        padding: 3px;
    }

    .dropdown .calender-check-in ul li {
        width: 38px;
        padding: 5px;
    }

    .dropdown .check-out-dropdown {
        width: 290px;
        top: 55px;
        left: 8%;
        font-size: 14px;
    }

    .dropdown .calender-check-out .weeks li {
        width: 40px;
        padding: 3px;
    }

    .dropdown .calender-check-out ul li {
        width: 40px;
        padding: 5px;
    }

    /*guest-dropdown*/

    .guest-dropdown {
        width: 290px;
        padding: 1.5em 1.5em 0em 1.5em;
        top: 54px;
        right: 7.5%;
        font-size: 14px;
    }

    .guest-icons {
        gap: 8px;
    }

    .plus-minus {
        padding: 3px;
    }
    

    /*search*/

    .search{
        height:55px;
    }
    
    .search-bar .items {
        padding-right: 0.5rem;
    }

    .search-bar .heading {
        font-size: 0.8rem;
    }

    .search-bar .sub-heading {
        font-size: 0rem;
    }

    .search-bar {
        width: 82%;
        height: 40px;
        padding: 3px 10px 4px 15px;
        align-items: center;
    }

    .search-bar .search-icon {
        width: 25px;
        height: 25px;
    }

    .search-bar .search-icon .icon {
        width: 15px;
    }

    /*banner*/

    .banner {
        height: 250px;
    }

    .bg-img p {
        font-size: 1.3rem;
    }

    .bg-img button {
    width: 80px;
    height: 28px;
    margin-top: 13px;
    font-size: 0.8rem;
    }


    .bg-img {
        height: 230px;
    }
    
    /*Experiences*/

    .sectionFour {
        margin-top: 3em;
    }

    .discover-title {
        font-size: 1.5rem;
    }

    .discover-flex{
        display:flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .discover-flex .discover-trip {
        height: 250px; 
        width:100%;
    }

    .discover-flex .discover-home{
        height: 250px;
        width: 100%;
    }

    .discover-flex .content {
        padding: 1em 0em 0em 1em;
        font-size: 1.5rem;
    }

    .discover-flex button {
        font-size: 0.8rem;
        width: 60%;
        margin-top: 12px;
    }

    /*card*/
    
    .card-title{
        font-size: 1.5rem;
    }
    
    .card-container{
        width:100%;
        flex-wrap: wrap;
    }
    
    .card{
        width:45.3%;
        height:250px;
    }
    
    .card .card-bottom h2{
        margin-bottom: 8px;
        font-size: 1.2rem;
    }
    
    .card .card-bottom p{
        font-size:0.8rem;
    }
    
    .card-top img{
        width: 43vw;
        height: 135px;
    }

    /*gift-card*/

    .gift-card {
        margin-top:3rem;
    }

    .gift-card .gift-title {
        font-size: 1rem;
        width:28%;
    }
    
    .gift-card button {
        width: 80%;
        height: 32px;
        font-size: 0.6rem;
    }

    .gift-pic {
        width: 60%;
    }

}

@media screen and (min-width:769px) and (max-width:1000px){

    /*Experiences*/

    .sectionFour {
        margin-top: 3em;
    }

    .discover-title {
        font-size: 1.5rem;
    }

    .discover-flex .discover-trip {
        height: 280px; 
    }

    .discover-flex .discover-home{
        height: 280px;
    }

    .discover-flex .content {
        padding: 1em 0em 0em 1em;
        font-size: 1.5rem;
    }

    .discover-flex button {
        font-size: 0.8rem;
        width: 60%;
        margin-top: 12px;
    }

    /*gift card*/
    .gift-card .gift-title {
        font-size: 2rem;
        width:35%;
    }

    .gift-pic {
        width: 60%;
    }

    .gift-card button {
        width: 50%;
        height: 50px;
        font-size: 1rem;
    }
}

@media screen and (min-width:481px) and (max-width:768px){

    /*nav*/
    .nav-content{
        padding-inline: 1.2rem;
    }

    .links{
        gap:18px;
        font-size: 0.8rem;
    }

    .nav-content .icon img{
        width:82px;  
    }

    .nav-content .login {
        font-size: 13px;
        gap: 4px;
    }

    .nav-content .login img {
        width: 52px;
    }

    /*sign-in*/
    header .singInOut{
        right: 17px;
    }

    /*location-dropdown*/

    .location-dropdown{
        width: 60%;
        top: 60px;
        left: 8%;
    }

    /*guest-dropdown*/

    .guest-dropdown {
        width: 330px;
        padding: 1.5em 1.5em 0em 1.5em;
        top: 63px;
        right: 9.5%;
    }

    .guest-icons {
        gap: 9px;
    }

    .plus-minus {
        padding: 5px;
    }


    /*banner*/

    .banner {
        height: 380px;
    }

    .bg-img {
        height: 360px;
    }

    .bg-img p {
        font-size: 1.8rem;
    }

    .bg-img button {
    width: 90px;
    height: 30px;
    margin-top: 13px;
    font-size: 0.8rem;
    }

    /*Experiences*/

    .sectionFour {
        margin-top: 3.5em;
    }

    .discover-title {
        font-size: 1.5rem;
    }

    .discover-flex{
        display:flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .discover-flex .discover-trip {
        height: 320px; 
        width:100%;
    }

    .discover-flex .discover-home{
        height: 320px;
        width: 100%;
    }

    .discover-flex .content {
        padding: 1.5em 0em 0em 2em;
        font-size: 2rem;
    }

    .discover-flex button {
        font-size: 0.8rem;
        width: 60%;
        margin-top: 12px;
    }

    /*gift-card*/

    .gift-card {
        margin-top:3.5rem;
    }

    .gift-card .gift-title {
        font-size: 1.5rem;
        width:35%;
    }
    
    .gift-card button {
        width: 60%;
        height: 45px;
        font-size: 1rem;
    }

    .gift-pic {
        width: 55%;
    }

}

@media screen and (min-width:320px) and (max-width:600px){

    /*navbar*/

    nav .links{
        display:none;
    }

    .search{
        padding-top:10px;
        height: 60px;
    }

    .modal{
        width:300px;
        font-size: 1rem;
    }

    .modal .modal-heading{
        font-size: 0.8rem;
    }

    .modal .modal-heading div{
        font-size: 1.8rem;
    }

    .modal form button{
        font-size: 0.8rem;
    }

    .check-in-dropdown {
        width: 315px;
        top: 61px;
        left: 28%;
    }

    .check-in-calendar {
        margin: 15px 14px 0px 6px;
        font-size: 12px;
    }

    #check-in-prev, #check-in-next {
        font-size: 11px;
        width: 25px;
        height: 25px;
    }

    .calender-check-in {
        padding: 0px 5px 12px 5px;
    }

    .calender-check-in .check-in-weeks li {
        width: 43px;
    }

    .calender-check-in ul li {
        width: 43px;
    }

    .check-out-dropdown {
        width: 315px;
        top: 65px;
        left: 30%;
    }

    .calendar {
        margin: 15px 14px 0px 6px;
    }

    #check-out{
        font-size: 18px;
    }

    #prevMonth, #nextMonth {
        font-size: 11px;
        width: 25px;
        height: 25px;
    }

    .calender-check-out {
        padding: 0px 5px 12px 5px;
    }

    .calender-check-out .weeks li {
        width: 43px;
        padding: 6px;
    }

    .calender-check-out ul li {
        width: 43px;
    }

    /*ask*/

    .ask{
        height: 300px;
        margin-top:3rem;
    }

    .ask p {
        font-size: 2rem;
    }

    .ask button{
        font-size: 1rem;
        width: 100%;
        height: 48px;
    }

    .ask div {
        padding: 1.8em 0em 0em 1.8em;
    }

    /*footer*/

    .footer{
        width: 92%;
    }

    .footer-flex{
        display: block;
    }

    .footer-flex div{
        margin-bottom: 33px;
    }

    .footer-copyright{
        flex-wrap: wrap;
        width: 100%;
    }

    .footer-list{
        display:block;
    }

    .footer-icons{
        width:100%;
        justify-content: flex-start;
    }
}

@media screen and (min-width:601px) and (max-width:768px){

    /*search*/

    .search-bar .items {
        padding-right: 1rem;
    }

    .search-bar .heading {
        font-size: 1rem;
    }

    .search-bar .sub-heading {
        font-size: 0.8rem;
    }

    .search-bar {
        width: 82%;
        height: 56px;
        padding: 8px 16px 4px 28px;
    }

    .dropdown .check-in-dropdown{
        top:60px;
    }

    .dropdown .check-out-dropdown {
        width: 370px;
        top: 60px;
        left: 35%;
    }
    
    

    /*ask*/

    .ask{
        height: 370px;
        margin-top:3rem;
    }

    .ask p {
        font-size: 2.5rem;
    }

    .ask button{
        font-size: 1.5rem;
        width: 100%;
        height: 52px;
    }

    .ask div {
        padding: 2.5em 0em 0em 2.5em;
    }

    /*footer*/


    .footer{
        width:94%;
    }

    .footer-flex div{
        width:40%;
    }

    .footer-list{
        display:block;
    }

    .footer-copyright {
        width: 100%;
    }

    .footer-icons{
        width:100%;
        justify-content: flex-start;
    }

}


@media screen and (min-width:769px) and (max-width:1200px){

    /*nav*/
    .nav-content{
        padding-inline: 1rem;
    }

    .links{
        gap:20px;
    }

    /*sign-in*/
    header .singInOut{
        right: 17px;
    }

    /*location-dropdown*/

    .location-dropdown{
        left: 10%;
    }

    /*ask*/

    .ask{
        height: 500px;
        margin-top:4rem;
        margin-bottom:1rem;
    }

    .ask p {
        font-size: 3rem;
    }

    .ask button{
        font-size: 1.5rem;
        width: 70%;
        height: 52px;
    }

    .ask div {
        padding: 5em 0em 0em 3.5em;

    }

    /*search*/

    .search-bar{
        width:80%;
    }

    .search-bar .items {
        padding-right: 1.5rem;
    }

    /*footer*/

    .footer{
        width:94%;
    }


    .footer-flex div{
        width:40%;
    }

    .footer-list{
        display:block;
    }

    .footer-copyright {
        width: 100%;
    }

    .footer-icons{
        width:100%;
        justify-content: flex-start;
    }
}

@media screen and (min-width:950px) and (max-width:1350px){
    .card{
        height:360px;
    }

    .card-top img {
        width: 22vw;
        height: 175px;
    }

    .card .card-bottom h2 {
        font-size: 1.5rem;
    }

    .card .card-bottom p {
        font-size: 1rem;
    }
}

@media screen and (min-width:769px) and (max-width:951px){
    /*card*/

    .card{
        height:300px;
    }

    .card-top img {
        width: 22vw;
        height: 150px;
    }

    .card .card-bottom h2 {
        font-size: 1.3rem;
    }

    .card .card-bottom p {
        font-size: 0.8rem;
    }
}

@media screen and (min-width:555px) and (max-width:768px){
    /*card*/

    .card-title {
        font-size: 1.5rem;
    }

    .card{
        height:200px;
    }

    .card-top img {
        width: 21vw;
        height: 95px;
    }

    .card .card-bottom {
        padding-top: 0.7em;
        padding-left: 0.7em;
    }

    .card .card-bottom h2 {
        font-size: 1rem;
    }

    .card .card-bottom p {
        font-size: 0.7rem;
    }
}

@media screen and (min-width:481px) and (max-width:554px){
    /*card*/
    
    .card-title{
        font-size: 1.5rem;
    }
    
    .card-container{
        width:100%;
        flex-wrap: wrap;
    }
    
    .card{
        width: 45.2%;
        height: 300px
    }

    .card .card-bottom h2{
        margin-bottom: 8px;
        font-size: 1.2rem;
    }
    
    .card .card-bottom p{
        font-size:0.8rem;
    }
    
    .card-top img{
        width: 43vw;
        height: 170px;
    }
}

@media screen and (min-width:481px) and (max-width:600px){

    /*search*/

    .search{
        height:72px;
    }
    
    .search-bar .items {
        padding-right: 1rem;
    }

    .search-bar .heading {
        font-size: 1rem;
    }

    .search-bar .sub-heading {
        font-size: 0rem;
    }

    .search-bar {
        width: 82%;
        height: 47px;
        padding: 3px 16px 4px 28px;
        align-items: center;
    }

    .search-bar .search-icon {
        width: 32px;
        height: 32px;
    }

    .search-bar .search-icon .icon {
        width: 18px;
    }
}




