@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'poppins';
}


header{
    position:fixed;
    width:100%;
    background-color: rgb(19,39,54);
    z-index: 100;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0px 1em 0px;
    width:85%;
    margin-inline: auto;   
}

.container{
    position:relative;
    top:68px;
    background-color: rgb(247,247,247);
}

.container h1{
    text-align: center;
    padding: 2rem;
}

.clock{
    width:85%;
    margin-inline: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.clock .clock-border{
    border:2px solid rgb(19,39,54);
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2em 1em 2em 1em;
}

.clock .image img{
    width:35vw;
    height:auto;
}

.clock-border .image{
    text-align: center;
}

.expired{
    color:rgb(165, 0, 0);
}

.date .deadline{
    display:flex;
    gap:1.5rem;
}

.deadline-format div{
    background-color: rgb(19,39,54);
    color:white;
    padding:10px;
    text-align: center;
    width:80px;
}

.deadline-format div h4{
    font-size: 25px;
}

.date .offer{
    font-size:1.8rem;
    padding-bottom:20px;
}

.date p{
    padding-bottom:18px;
    font-size: 20px;
}

.shop-card{
    background-color: rgb(19,39,54);
    color:white;
}

.shop-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 8em 3em 8em;
}

.card-1, .card-2{
    width:45%;   
    position: relative;
    
}


.card-1 h1, .card-2 h1{
    font-size: 2rem;
    font-style: italic;
}

.shop-text-1, .shop-text-2{
    background-color: white;
    color:rgb(19,39,54);
    padding:1em;
    font-size: 1.2rem;
    height: 100%;       
    padding-bottom:4em;
}

.left-arrow {
    position: absolute;
    bottom: 15px;
    right: 60px;
    font-size: 1.2rem;
    cursor: pointer;
    padding:2px;
    border-radius:10px;
}

.right-arrow {
    position: absolute;
    bottom: 15px;
    right: 20px;
    font-size: 1.2rem;
    cursor: pointer;
    padding:2px;
    border-radius:10px;
}

.btn-container .buy-now{
    padding:5px;
    font-size: 1.2rem;
    border:none;
    color: rgb(161, 0, 0);
    position:absolute;
    bottom:18px;
    margin-left:18px;
}

@media  screen and (min-width: 769px) and (max-width: 1024px) {

    .clock{
        width:95%;
    }

    .clock .image img {
        height: 300px;
    }

    .shop-flex{
        padding-inline: 2em;
    }

    .card-1, .card-2{
        width:47%;
    }
}

@media  screen and (min-width: 320px) and (max-width: 480px) {
    .shop-flex{
        display:block;
        padding: 4em 1em 1em 1em;
    }

}

@media  screen and (min-width: 320px) and (max-width: 768px) {

    .clock-border .image {
        display: none;
    }

    .deadline{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .date .offer {
        font-size: 1.5rem;
    }

    .date p {
        font-size: 16px;
    }

    .date .deadline {
        gap: 0.5rem;
    }

    .deadline-format div {
        padding: 5px;
        width: 55px;
    }

    .deadline-format div h4 {
        font-size: 20px;
    }

    .deadline-format div span{
        font-size:12px;
    }


    .shop-flex{
        display:block;
        padding: 0em 3em 1em 3em;
    }

    .card-1, .card-2{
        width:100%;
        margin-bottom:4em;
    }

    .shop-text-1, .shop-text-2 {
        font-size: 1rem;
    }

    .btn-container .buy-now {
        font-size: 1rem;
    }
}


