@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');


*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'poppins';
}


header{
    position:fixed;
    width:100%;
    background-color: rgb(19,39,54);
    z-index: 100;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0px 1em 0px;
    width:85%;
    margin-inline: auto;   
}

nav .clear-all {
    color:white;
    font-size: 1rem;
    border: 2px solid white;
    padding:8px;
    border-radius: 8px;
    cursor: pointer;
}

.container{
    position:relative;
    top:68px;
    width:85%;
    margin-inline: auto;
    padding-top:100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:50px;
    flex-direction: column;
    overflow-x: hidden;
}


.add-card{
    padding:15px;
    border-radius: 5px;
    border:2px solid rgb(19,39,54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    width:600px;
    height:auto;
}

.add-card .pic{
    width:20%;
    text-align: center;
}

.add-card .add-content{
    width:75%;
}


.add-flex{
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.add-card img{
    width:100px;
    height:100px;
}

.add-card .add-place{
    font-weight: 700;
}

.add-content .add-flex .cross{
    font-size: 2rem;
    transform: translate(5px, -15px);
    cursor: pointer;
}

.empty{
    font-size: 2rem;
}

@media screen and (max-width:700px){

    .add-card {
        width: 500px;
    }
}

@media screen and (max-width:600px){

    .container{
        width:100%;
    }

    .add-card .add-content {
        width: 60vw;
        margin-left: 20px;
    }

    .add-card {
        width:450px;
    }
}


@media screen and (max-width:500px){

    .add-card{
        width:380px;
    }

    .container{
        width:95%;
    }

    .add-card .add-content {
        width: 68%;
    }
    
    }

    @media screen and (max-width:400px){

        .add-card{
            width:300px;
        }    
    
        .add-card .add-content {
            width: 60%;
        }
        
}