@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Press+Start+2P&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

header{
    position:fixed;
    width:100%;
    background-color: white;
    z-index: 100;
}

nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0px 1em 0px;
    width:85%;
    margin-inline: auto;   
}

.container{
    position:relative;
    top:68px;
    background-color: rgb(247,247,247);
}

.content{
    text-align: center;
    padding-top: 1.8em;
    min-height:87vh
}

.content .aircover{
    font-size: 12rem;
    font-weight: 900;
    color:rgb(255,56,92);
    height: 0;
    overflow: hidden;
    transition: height 0.6s ease-in;
}

.content .aircover.show{
    height: 250px;
}

.content .host{
    font-size: 4rem;
    margin-bottom:20px;
    height: 0px;
    overflow: hidden;
    transition: height 0.6s ease-in 0.5s;
}

.content .host.show{
    height:100px;
}

.content .aircover-para{
    font-size: 2rem;
    height: 0px;
    overflow: hidden;
    transition: height 0.6s ease-in 1s;
}

.content .aircover-para.show{
    height: 150px;
}

.ask{
    width:85%;
    margin-inline: auto;
    display:flex;
    justify-content: space-between;
    align-items: start;
    gap:55px;
    margin-top:2em;
    padding-top:5em;
    border-top: 1px solid rgb(117, 117, 117);
}

.questions-heading{
    width:46%;
    font-size: 3.5rem;
    font-weight: 900;
    padding-top:30px;
}

.accordion{
    width:50%;
}

.question{
    background-color: rgb(247,247,247);
    margin-top:1.5em;
    font-size: 1.5rem;
}

.question-title{
    display:flex;
    justify-content: space-between;
    gap:10px;    
}

.question-btn{
    font-size: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/*hide text*/

.question-text{
    max-height:0px;
    overflow: hidden;
    transition: max-height 0.4s;
    font-size:1.2rem;
    color:rgb(78, 78, 78);
}

.show-text .question-text{
    max-height: 1000px;   
}

.minus-icon{
    display:none;
}

.show-text .minus-icon{
    display: inline;
}

.show-text .plus-icon{
    display: none;
}

@media screen and (min-width:769px) and (max-width:1024px){
    .content .aircover{
        font-size: 10rem;
    }

    .content .aircover.show {
        height: 200px;
    }

    .content .host{
        font-size: 3rem;
    }

    .content .host.show {
        height: 65px;
    }

    .content .aircover-para{
        font-size: 1.4rem;
    }

    .questions-heading {
        width: 43%;
        font-size: 2.5rem;
        padding-top:40px;
    }
}

@media screen and (min-width:320px) and (max-width:768px){
    .content {
        padding-top: 7em;
    }

    .content .aircover{
        font-size: 6rem;
    }

    .content .aircover.show {
        height: 130px;
    }

    .content .host{
        font-size: 2rem;
        margin-bottom: 0px;
    }

    .content .host.show {
        height: 65px;
    }

    .content .aircover-para{
        font-size: 1.4rem;
    }

    .ask{
        display: block;
        width:100%;
    }

    .questions-heading {
        width:100%;
        font-size: 2rem;
        text-align: center;
    }

    .accordion {
        width: 80%;
        margin-inline: auto;
    }
}

@media screen and (min-width:320px) and (max-width:480px){

    .content .aircover{
        font-size: 4rem;
    }

    .content .aircover.show {
        height: 100px;
    }

    .content .aircover-para{
        font-size: 1rem;
    }

    .questions-heading {
        font-size: 1.2rem;
    }

    .ask{
        margin-top: 1em;
        padding-top: 2em;
    }

    .question {
        font-size: 1rem;
    }

    .question-btn {
        font-size: 1.2rem;
    }

    .question-text {
        font-size: 1rem;
        padding-top: 20px;
    }
}

